:root
    $color_web_1 = #03363D
    $color_web_2 = #454647
    $color_web_3 = #174D4D
    $color_web_4 = #235158
    $color_web_5 = #D6EDF2
    
    

    $blanco_web = #fff

    $blanco_trans = #ffffffa3
    $negro_web = #000
    $amarilo_web = #FBFF2C

    $color_dash_1 = #ADF7B6
    $color_dash_2 = #FFEE93
    $color_dash_3 = #FFC8DD
    $color_dash_4 = #CDB4DB
    $color_dash_5 = #A2D2FF

    .bg_color_dash_1
        background $color_dash_1

    .bg_color_dash_2
        background $color_dash_2

    .bg_color_dash_3
        background $color_dash_3

    .bg_color_dash_4
        background $color_dash_4

    .bg_color_dash_5
        background $color_dash_5



    .nav-link.active,
    .show > .nav-link 
        background $negro_web !important


    .bg_color_web_1
        background $color_web_1

    .bg_color_web_2
        background $color_web_2

    .bg_color_web_3
        background $color_web_3

    .bg_color_web_4
        background $color_web_4

    .bg_color_web_5
        background $color_web_5

    .bg_blanco_web
        background $blanco_web

    .bg_blanco_trans
        background $blanco_trans

    .bg_negro_web
        background $negro_web

    .bg_amarillo_web
        background $amarilo_web


    .text_color_verde01
        color $color_web_1

    .text_color_verde02
        color $color_web_2

    .text_color_verde03
        color $color_web_3

    .text_color_gris01
        color $color_web_4

    .text_color_balnco
        color $blanco_web !important

    .text_color_negro
        color $negro_web

    .text_color_amarillo
        color $amarilo_web


    .bg_color_web_1_hover
        background $color_web_1
        transition 0.5 background

    .bg_color_web_2_hover
        background $color_web_2
        transition 0.5 background

    .bg_color_web_3_hover
        background $color_web_3
        transition 0.5 background

    .bg_color_web_4_hover
        background $color_web_4
        transition 0.5 background

    .bg_blanco_web_hover
        background $blanco_web
        color $negro_web
        border 2px solid $negro_web
        transition 0.5 all

    .bg_blanco_web_hover:hover
        background $negro_web
        color $blanco_web
        border 2px solid $blanco_web

    .bg_negro_web_hover
        background $negro_web
        color $blanco_web
        transition 0.5s all

    .bg_negro_web_hover:hover
        background $blanco_web
        color $negro_web

    .bg_amarillo_web_hover
        background $amarilo_web
        color $negro_web
        border 2px solid $negro_web
        transition 0.5 all
    .bg_amarillo_web_hover:hover
        background $negro_web
        color $amarilo_web
        border 2px solid $amarilo_web