$verde01_web = #84B13B
$verde02_web = #9DC162
$verde03_web = #6B8F30
$gris01_web = #D9D9D9
$blanco_web = #fff
$negro_web = #000
$amarilo_web = #FBFF2C


.nav-link.active,
  .show > .nav-link 
    background $negro_web !important


.bg_verde01_web
    background $verde01_web

.bg_verde02_web
    background $verde02_web

.bg_verde03_web
    background $verde03_web

.bg_gris01_web
    background $gris01_web

.bg_blanco_web
    background $blanco_web

.bg_negro_web
    background $negro_web

.bg_amarillo_web
    background $amarilo_web


.text_color_verde01
    color $verde01_web

.text_color_verde02
    color $verde02_web

.text_color_verde03
    color $verde03_web

.text_color_gris01
    color $gris01_web

.text_color_balnco
    color $blanco_web !important

.text_color_negro
    color $negro_web

.text_color_amarillo
    color $amarilo_web


.bg_verde01_web_hover
    background $verde01_web
    transition 0.5 background

.bg_verde02_web_hover
    background $verde02_web
    transition 0.5 background

.bg_verde03_web_hover
    background $verde03_web
    transition 0.5 background

.bg_gris01_web_hover
    background $gris01_web
    transition 0.5 background

.bg_blanco_web_hover
    background $blanco_web
    transition 0.5 background

.bg_negro_web_hover
    background $negro_web
    color $blanco_web
    border 2px solid $blanco_web
    transition 0.5 background

.bg_negro_web_hover:hover
    background $blanco_web
    color $negro_web
    border 2px solid $negro_web
    
.bg_amarillo_web_hover
    background $amarilo_web
    color $negro_web
    border 2px solid $negro_web
    transition 0.5 all
.bg_amarillo_web_hover:hover
    background $negro_web
    color $amarilo_web
    border 2px solid $amarilo_web