.icon_01_web
    font-size 37px
    line-height 0
    padding 3px

.btn_01_web
    border-radius 30px
    font-weight bold

.h_carusel_inicio
    height 500px

.star-rating 
    font-size 2rem
        
.star-rating i 
    cursor pointer

.img_flayer_establecim
    height 300px
    width 100%
    border-radius: 30px

.btn_comprar
    border-radius 30px
    padding 10px 15px 10px 15px

        